/*For the list of messages in ticket-detail.php*/
ul{
    list-style-type: none;
    padding-left: 0;
}

#footer{
    background-color: #3296CE;
    position: fixed;
    height: 40px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
}

#header{
    background-color: #3296CE;
    height: 50px;
    width: 100%;
    color: white;
}

#login-form{
    /*width: auto !important;
    top: 500px !important;
    right: 50px !important;
    position: absolute;*/
    margin-top: 250px;
    margin-left: 150px;
}

#login-btn{
    background-color:#3296CE;
    color: white;
}

select{
    width: auto !important;
}

.statuses{
    z-index: 1;
    position: relative;
}

#back-btn{
    color: white;
    border: #3296CE solid 2px;
    background-color: #3296CE;
    padding: 10px 20px;
}

#submitMsgBtn{
    color: #fff;
    background-color: #3296CE;
    border-color: #3296CE;
}

#messageArea{
    height: 150px;
}

#logout{
    color:white;
    text-decoration: none;
}

#logout:hover{
    color: red;
}

#status_ticket_normal_user{
    padding-top: 7px;
}

/*#ticketStatus_Resolved{

}

#ticketStatus_Open{

}

#ticketStatus_Reopened{

}

#ticketStatus_Inprogress{

}
#ticketStatus_Closed{

}*/
