/*For the list of messages in ticket-detail.php*/
ul{
    list-style-type: none;
    padding-left: 0;
}

#footer{
    background-color: #3296CE;
    position: absolute;
    height: 40px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
}

#header{
    background-color: #3296CE;
    height: 50px;
    width: 100%;
    color: white;
}

#login-form{
    /*width: auto !important;
    top: 500px !important;
    right: 50px !important;
    position: absolute;*/
    margin-top: 250px;
    margin-left: 150px;
}

#login-btn{
    background-color:#3296CE;
    color: white;
}

select{
    width: auto !important;
}

#status{
    z-index: 1;
    position: relative;
}

#back-btn{
    color: white;
    border: #3296CE solid 2px;
    background-color: #3296CE;
    padding: 10px 20px;
}

#submitMsgBtn{
    color: #fff;
    background-color: #3296CE;
    border-color: #3296CE;
}

#messageArea{
    height: 150px;
}